html, body {
	min-height: 100%;
}

body {
	font-family: 'arial', sans-serif;
    background: #eee;
    margin: 0;
    padding: 0 0 20px 0;
    opacity: 1;
}

body[unresolved] {
	opacity: 0;
	display: block;
	overflow: hidden;
}

h1 {
	margin: 20px 0 0 0;
	font-size: 2em;
	line-height: 1;
	padding: 0;
}
h1 span {
	font-weight: normal;
	color: #aaa;
	margin-left: .5em;
}

.p-block {
	margin: 20px 0 0 0;
	padding: 20px 30px;
}
.p-block-separate {
	margin-bottom: 20px;
}
.p-title-block {
	margin: 0 0 20px 0;
	padding: 20px 30px;
}
.p-block.p-inner-block {
	padding: 10px 0;
	margin: 0;
	font-size: 1.2em;
}
.p-nav-block {
	padding: 15px 30px;
	height: 38px;
	margin: 0 0 20px 0;
	background-color: #37474F;
	color: #fff;
}
.p-nav-block .p-title {
	font-weight: bold;
	margin-left: 20px;
	font-size: 1.2em;
}
.p-nav-block .p-title span {
	font-weight: normal;
	opacity: .6;
	margin-left: .15em;
}
.p-nav-block .icon-button {
	margin-left: -7px;
}
.p-nav-block .icon-button i.material-design-iconic-font svg {
	fill: #fff;
}
.p-nav-block .p-version a,
.p-nav-block .p-version span {
	color: #fff;
	display: inline-block;
	font-size: 1em;
}
.p-nav-block .p-version a + span,
.p-nav-block .p-version span + a {
	margin-left: 0.7em;
}
.p-nav-block .p-version span {
	border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.p-block {
	background: #fff;
	line-height: 1;
	font-size: 1.1em;
}

.p-large {
	line-height: 1;
	font-size: 1.6em;
}

a {
	text-decoration: none;
	color: #1565C0;
}
.p-block ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.p-block ul li {
	margin: 0;
	padding: 0;
}
.p-block ul li + li {
	margin: .5em 0 0 0;
}

.p-block table {
	width: auto;
}
.p-block td {
	padding: .25em 2em .25em 0;
	border-bottom: 1px solid #eee;
}
.p-title-block a:link,
.p-title-block a:visited {
	color: #1E88E5;
	text-decoration: none;
}
.p-block .md {
	color: orange;
}
.p-block .icon.md svg,
.p-block .icon.google svg {
	fill: orange;
}
.p-block .icon.mdi svg path {
	fill: orange;
}

.p-block .toolbar {
	background-color: #BBDEFB;
	color: #222;
	margin: 0 0 20px 0;
	font-size: 21px;
}

.p-block .toolbar.dark-theme {
	background-color: #0D47A1;
	color: #fff;
}

.p-block .toolbar {
	margin: 10px 0 0 0;
}

/*
body.demo-layout .tiles-container {
	margin: 0 0 20px 0;
	height: 250px;
	background: #ddd;
}

	body.demo-layout .tile {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;
		background: #fff;
	}

body.demo-toolbar .toolbar {
	background-color: #CFA0E9;
	margin: 0 0 20px 0;
}

	body.demo-toolbar .toolbar.dark-theme {
		background-color: #7D25AC;
		color: #f1f1f1;
	}

body.demo-icon .demo-red {
	color: red;
}

	body.demo-icon-button .demo-toolbar {
		margin: 20px 0;
	}

	body.demo-icon-button .demo-toolbar.dark-theme {
		background-color: #303F9F;
		color: #C5CAE9;
		fill: #C5CAE9;
	}
*/

.icon-button {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-radius: 2px;
  padding: 7px;
  margin: 2px;
  vertical-align: middle;
  font-size: 1rem;
  cursor: pointer;
}
.icon-button.outline {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.icon-button:hover:not([disabled]) {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.icon-button:active:not([disabled]), .icon-button.selected:active:not([disabled]) {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.12);
}
.icon-button .icon {
  pointer-events: none;
}

.gist-it-gist {
	margin: 20px 10px;
}


